.btn-filter {
  min-width: 3rem;
  padding-inline: 0.75rem;
}

.btn-filter-label {
  display: none;
}

@media (min-width: 1200px) {
  .btn-filter {
    min-width: 9rem;
  }

  .btn-filter-label {
    display: inline;
  }
}
