table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable span {
  cursor: pointer;
}

th input {
  width: 100%;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

.action-col-detail {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-col-update {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-col-enabled {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-col-delete {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-add {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-col-csv {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.action-col-xlsx {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.table-row-clickable {
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.table-row-clickable:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-wrapper
{ 
  width: 100%; 
}

.table-scroll {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px; /* évite que la scrollbar mange le contenu */
}

/* Header sticky */ 
thead th { 
  position: sticky; 
  top: 0; 
  z-index: 10; 
  background: #F5F5F5; /* obligatoire */ 
} 



/* Ligne des filtres sticky aussi */ 
thead tr:nth-child(2) th { 
  position: sticky; 
  top: 56px; /* hauteur de la première ligne */ 
  z-index: 9; 
}

/* Scrollbar fine et propre (Chrome/Edge) */
.table-scroll::-webkit-scrollbar {
  width: 6px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #FBB900;
  border-radius: 4px;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #c48f00;
}

