table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th.sortable {
  cursor: pointer;
  user-select: none;
}

th.sortable span {
  cursor: pointer;
}

th input {
  width: 100%;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

.action-col-update {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.action-col-enabled {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.action-col-delete {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

