name: Deploy to VPS

on:
  push:
    branches: [ "master" ]   # ou "main" selon ton repo

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # --- Build Docker images ---
    - name: Build API Docker image
      run: |
        docker build -t checkmystar-api -f Dockerfile.api .

    - name: Build Angular Docker image
      run: |
        docker build -t checkmystar-angular ./CheckMyStar.Angular

    # -- Database -- #
    - name: Install .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    
    - name: Install MSBuild
      uses: microsoft/setup-msbuild@v2
    
    - name: Build SQL Project (DACPAC)
      run: |
        msbuild ./CheckMyStar.Database/CheckMyStar.Database.sqlproj /t:Build /p:Configuration=Release

    # --- Copier les fichiers sur le VPS ---
    - name: Upload project to VPS
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        source: "./*"
        target: ${{ secrets.VPS_PATH }}

    # --- Déployer le DACPAC dans SQL Server Docker ---
    - name: Deploy DACPAC to SQL Server
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          cd ${{ secrets.VPS_PATH }}/CheckMyStar.Database/bin/Release
          docker run --rm \
            -v $(pwd):/dacpac \
            mcr.microsoft.com/sqlpackage:latest \
            /Action:Publish \
            /SourceFile:/dacpac/CheckMyStar.Database.dacpac \
            /TargetServerName:sqlserver \
            /TargetUser:sa \
            /TargetPassword:"@Eb23#Ab28!Mb15$" \
            /TargetDatabaseName:CheckMyStar

    # --- Redémarrer docker-compose ---
    - name: Restart docker-compose on VPS
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          cd ${{ secrets.VPS_PATH }}
          docker compose down
          docker compose up -d --build
